beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Excel==0.0.7
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
lml==0.0.9
MarkupSafe==1.1.1
numpy==1.18.1
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
requests==2.23.0
selenium==3.141.0
soupsieve==2.0
texttable==1.6.2
urllib3==1.25.8
Werkzeug==1.0.0
