alabaster==0.7.7
anaconda-client==1.2.2
argcomplete==1.0.0
astropy==1.1.1
beautifulsoup4==4.4.1
Flask==0.12
Flask-Excel==0.0.5
gevent==1.0.2
gevent-websocket==0.9.5
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8.1
jsonschema==2.4.0
lxml==3.5.0
MarkupSafe==0.23
numba==0.23.1
numexpr==2.4.6
numpy==1.10.4
odo==0.4.0
openpyxl==2.3.2
path.py==0.0.0
ply==3.8
psutil==3.4.2
py==1.4.31
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pyexcel==0.4.2
pyexcel-io==0.3.1
pyexcel-webio==0.0.10
pyexcel-xls==0.3.1
pyflakes==1.0.0
Pygments==2.1
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyreadline==2.1
pytest==2.8.5
python-dateutil==2.4.2
pywin32==219
PyYAML==3.11
qtconsole==4.1.1
requests==2.9.1
unicodecsv==0.14.1
virtualenv==15.1.0
Werkzeug==0.11.3
xlrd==0.9.4
XlsxWriter==0.8.4
xlwings==0.6.4
xlwt==1.0.0
