<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Equipment Valuation</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Equipment Valuation</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Equipment Valuation</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/search/used" role="button">Find Free Market Value</a>
            </p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/search/new" role="button">Find Replacement Value</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>Seeding Labs 2017</p>
        </footer>
 
    </div>
</body>
 
</html>